@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color: #ee8a66;
    --secondary-color: #db5626 ;
    --dark-color: #882c0b;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(var(--secondary-color) 5%, var(--primary-color) 40%, var(--dark-color));
    color: rgba(0, 0, 0, 0.473);
    /*color: var(--dark-color);*/
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
  }
  a{
    text-decoration: none;
    color:inherit;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;    
    padding:0;
    margin-bottom:0;
    text-align: center;
    
  }
  h2{
    margin: 10px 0;
    text-align: center;
    text-decoration: underline;

  }
  #carrier1, #carrier2{
    font-size: 14px;
  }
  .counterRow{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);  
    gap: 10%;      
    background-color: var(--dark-color);
    color: #fff;
    height: 20vh;
    width: 420px;
    padding:15px;
    position: relative;
    margin-left:-50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
    /*overflow: visible;*/
  }
  .counterRow > *:first-child{
    grid-column: 1/span 3;
    grid-row: 1/ span 2;
    text-align: center;
  }
  .counterRow span{
    display: inline;
  }
  
  .flex img{
    height: 150px;
    width: 500px;
    justify-self: center;
    margin: 0px;
    flex-wrap: wrap;
    
  }
  .container{
    background-color: var(--light-color);
   max-width: 450px;
   max-height: 1000px;
    margin: 10% 31%;
    overflow: visible;
    padding: 0 50px;
    border-radius:10px;
    align-self: center;
    position: static;
}
  .flex img:hover{
    transform: translateY(-15px);
  }
  .flex {    
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 70vh;
  }
  
  #result {
    color: rgba(0, 0, 0, 0.473);
    font-size: 32px;
    padding: 0% 2%;
    text-align: center;
  }
  
  #ans {
    color: rgba(0, 0, 0, 0.473);
    padding: 20px;
    font-size: 22px;
    background: transparent;
    border: 0; 
    text-align: center;
  }
  
  #ans:focus {
    outline: 0;
    outline-offset: 0;
  }
  @media (max-width: 768px){
    .container{      
      margin: 10% 3.3%;
    }
    
  }